body {
  font-family: 'Comfortaa', sans-serif;
  font-size: 15px;
  background: #a8011aff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  transition: background 1s ease;
}


#first-block {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}


#first-block button {
  padding: 10px 18px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #444;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}


#first-block button:hover {
  background: #666;
}


#time-block {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  overflow: hidden;
  background-image: url("assets/Tomato-PNG-Photo.png");
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


#time-show {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}


#time-block button {
  font-size: 20px;
  margin: 4px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  transition: background 0.2s;
}

.time-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;        
  gap: 8px;                
}



#start-button { background: #43a047; }  
#pause-button { background: #fb8c00; } 
#reset-button { background: #e53935; } 
#skip-button { background: #3570e5; }


#start-button:hover { background: #388e3c; }
#pause-button:hover { background: #ef6c00; }
#reset-button:hover { background: #c62828; }
#skip-button:hover { background: #5235e5; }


#todo-block {
  width: 320px;
  text-align: center;
}


#todo-input {
  padding: 8px;
  border: none;
  border-radius: 6px;
  width: 200px;
}


#add-todo {
  padding: 8px 12px;
  margin-left: 8px;
  border: none;
  border-radius: 6px;
  background: #43a047;
  color: white;
  cursor: pointer;
}


#todo-list {
  list-style: none;
  padding: 0;
  margin-top: 12px;
}


#todo-list li {
  margin: 6px 0;
  padding: 8px;
  background: #444;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer {
  width: 100%;
  padding: 15px;
  padding-right: 40px;
  text-align: justify; 
  background: #333; 
  color: #fff;     
  position: fixed;   
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}