body {
    background-color: #111;
    color: #fff;
    font-family: 'Press Start 2P', monospace;
    padding: 20px;
}

.styles {
    margin: 2vw 0;
}

button {
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  background-color: #222;
  color: #0ff;
  border: 2px solid #0ff;
  padding: 10px;
  margin: 5px;
  width: 4vw;
  cursor: pointer;
}

.Red {
    background-color: rgb(255, 0, 0);
}

.Green {
    background-color: green;
}

.Blue {
    background-color: blue;
}

.Random {
    background: linear-gradient(to right, #00FFA3, #DC1FFF);
}

.Input, .Show, .Add {
    display: flex;
}

button:hover {
    background-color: #0ff;
    color: #222;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}

input:focus {
    border: none;
    outline: none;
}

#check_tasks div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ff0;
    background-color: #333;
    padding: 10px;
    margin-bottom: 5px;
}

.task_buttons {
    display: flex;
    gap: 10px;
    margin-left: 50px; 
  }
  
  .task_buttons button {
    font-size: 12px;
    padding: 6px 10px;
    background-color: #222;
    color: #0ff;
    border: 2px solid #0ff;
    cursor: pointer;
  }