html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
  min-width: auto; 
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


body {
  background-color: #121212;
  color: #ffffff;         
}

a, .nav-link {
  color: #ffffff !important;
}

.navbar-brand, .nav-item{
  margin: 5px;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
}

.navbar-brand:hover, .nav-item:hover{
  background-color: #375A7f;
}