.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  background-color: #111;
  color: #fff;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
  display: none; 
}


.message-block {
  max-width: 70%;
  display: flex;
}

.message-block.mine {
  align-self: flex-end;
  justify-content: flex-end;
}

.message-block.other {
  align-self: flex-start;
  justify-content: flex-start;
}

.message-bubble {
  padding: 10px 14px;
  border-radius: 16px;
  font-size: 14px;
  word-wrap: break-word;
  position: relative;
}

.message-block.mine .message-bubble {
  background: #375a7f;
  color: #fff;
  border-bottom-right-radius: 4px;
}

.message-block.other .message-bubble {
  background: #444;
  color: #e9e2e2;
  border-bottom-left-radius: 4px;
}

.message-time {
  font-size: 11px;
  color: #aaa;
  margin-top: 4px;
  text-align: right;
}

.input-container {
  display: flex;
  gap: 8px;
  padding: 10px;
  border-top: 1px solid #333;
  background-color: #222;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.input-container button {
  background: #375a7f;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.input-container button:hover {
  background: #2a4661;
}


.message-author {
  font-size: 12px;
  color: #aaa;
  margin: 20px;
}

.message-block.mine .message-author {
  text-align: right; 
}

.message-block.other .message-author {
  text-align: left;
}