html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
  min-width: auto; 
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


body {
  background-color: #121212;
  color: #ffffff;         
}

a, .nav-link {
  color: #ffffff !important;
}
